.friend-request {
  height: 60px;
  display: flex;
  direction: rtl;
  align-items: center;
  width: 66%;
  justify-content: space-between;
  margin: auto;
  color: #6097bf;
  background: #dcecf4;
  border-radius: 15px;
  font-size: 15px;
  padding-right: 1rem;
  padding-left: 1rem;
}
.friend-request-details {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.friends-list {
  text-align: center;
  color: #6097bf;
}
.friends-list h1 {
  font-weight: 100;
  margin-top: 2rem;
}
.friends-list img {
  height: 45px;
  width: 45px;
  border-radius: 100%;
}
