.separator {
  width: 100%;
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 30px 0 0;
}
.separator b {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #abc9db;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  color: #6097bf;
  z-index: 1;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #abc9db;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 275px;
}
.wrapper .button .icon {
  display: inline-block;
  background: #abc9db;
  color: #f7f7f7;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #db4437;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #4267b2;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #abc9db;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #db4437;
}
.wrapper .button:nth-child(2) span {
  color: #4267b2;
}
