.social-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #dcecf4;
  color: #6097bf;
  font-size: 25px;
}
.right-bottom-cloud {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  height: 300px;
}
.social-footer-icons {
  display: flex;
  margin-top: 2rem !important;
}
.social-footer-icon img {
  height: 60px;
  width: 60px;
}
.social-footer-facebook {
  margin-right: 3rem;
}
